{% extends "template.html" %} {% block main %}



<!-- Body -->
<div class="container-fluid px-5">

  <!-- Filter -->
  <!-- <div class="row">
    <div class="col">
      <h3>Knowledge Search</h3>
    </div>
  </div> -->

  <!-- Filter selectors -->
  <form action="">
    <div class="row">

      <!-- Filter 1 -->
      <div class="form-group col-lg-6 col-md-4 filters">
        <!-- <label class="py-2">Keywords</label> -->
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" id="form-keywords" name="form-keywords" class="form-control" placeholder="keywords" aria-label="search keywords"
            aria-describedby="addon-wrapping">
        </div>
      </div>

      <div class="col-lg-2 col-md-2 filters">
        <!-- <label class="py-2">&nbsp;</label> -->
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="form-check" name="form-check" checked>
          <label class="form-check-label" for="form-check">
            KG Enabled
          </label>
        </div>
      </div>

      <!-- Submit -->
      <div class="col-lg-2 col-md-2 filters">
        <!-- <label class="py-2">&nbsp;</label> -->
        <div>
          <button id="search_btn" type="button"
            class="btn btn-block btn-outline-secondary rounded-pill w-100 pointer_disabled" disabled>Search</button>
        </div>
      </div>
  </form>

  
  <p class="mt-2">
    <a class="link-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Click here to show/hide the demo instructions.
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row row-cols-3 small">
        <div class="col-3"></div>
        <div class="col-6 bg-white">
          Type in the keywords "keratoconus treatment" and toggle the "KG Enabled" button to see how related terms are incorporated in the search result.
          To compare the result without Knowledge Graph, simply turn "KG Enabled" button off and search the same keywords.
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-6 bg-white">
          Below illustrates the entities and relationship captured by the current Knowledge Graph. The search for "keratoconus" will be
          expanded to its child and parent classes.
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-6 bg-white">
          <img width="100%" src="../static/images/sample_kg.png">
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>





  <!-- Result -->
    <div id="results"></div>

</div>

<script>
  
// form validation before submission
$('#form-keywords').on('input', function () {
  // check keyword length 
  var keyword_length = $(this).val().length;

  console.log(keyword_length);

  if (keyword_length > 0) {
    document.getElementById('search_btn').disabled = false;
    $("#search_btn").removeClass("btn-outline-secondary").addClass("btn-outline-primary");
    $("#search_btn").removeClass("pointer_disabled").addClass("pointer");
  }
  else {
    document.getElementById('search_btn').disabled = true;
    $("#search_btn").removeClass("btn-outline-primary").addClass("btn-outline-secondary");
    $("#search_btn").removeClass("pointer").addClass("pointer_disabled");
  }
});
</script>
{% endblock %}